@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }
}

*,
::before,
::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  background-color: rgb(64, 80, 172)
}

.navbar {
  width: 100%; 
  background-color: rgb(19, 20, 100);
}

.navbar ul{
  display: flex;
  list-style-type: none;
  padding: 1rem;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.navbar li{
  display: block;
  padding: 0 1.875rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  font-size: 1.25rem;
  }

.navbar a {
  color: #498ec6;
  text-decoration: wavy;
  padding: 1rem;
  display: block;
  text-align: center;
}

.navbar a:hover{
  color: rgb(19, 20, 100);
  background-color: rgb(102, 102, 204);
}

.break {
  border: 0.125 solid whitesmoke;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
}

.contact-left-title h1{
  font-weight: 600;
  color: whitesmoke;
  font-size: 3.75rem;
  margin-bottom: 0.625rem;
}

.contact-left-title hr{
  width: 15.625rem;
  height: 0.625rem;
  margin-bottom: 1.25rem; 
  margin-left: 0.3125rem;
  color:black;
  border: 0.3125rem solid rgb(64, 80, 172);
}

.contact-inputs {
  width: 25rem;
  height: 3.125rem;
  border: none;
  outline: none;
  padding-left: 1.5625rem;
  font-weight: 500;
  color: rgb(64, 80, 172);
  border-radius: 3.125rem;
}

.contact-left textarea {
  height: 8.75rem;
  padding-top: 0.9375rem;
  border-radius: 1.25rem;
}

.contact-inputs:focus {
  border: 0.125rem solid rgb(17, 0, 94);
}

.contact-inputs::placeholder {
  color: rgb(64, 80, 172);
  font-family: 'Courier New', Courier, monospace
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 0.9375rem 1.875rem;
  font-size: 1rem;
  color: whitesmoke;
  gap: 0.625rem;
  border: none;
  border-radius: 3.125rem;
  background: linear-gradient(270deg, rgb(64, 80, 172), rgb(17, 0, 94));
  cursor: pointer;
}

h1 {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h2 {
  margin: 0.3125rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5625rem;
  color: rgb(17, 0, 94);
}

.h2 {
  margin: 0.625rem;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5625rem;
  color: rgb(17, 0, 94);
}

.email {
  font-size: 2rem;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center; 
  gap: 2rem; 
  flex-wrap: wrap; 
  padding: 1rem 0;
}

.contacts a {
  color:rgb(19, 20, 100);
  text-decoration: none;
}

.contacts a:hover{
  color: purple;
}

.fullscreen-img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  display: block;
}

.overlay-text {
  position: absolute;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow:  0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.7);
}