/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* Reset styles */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body styling */
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 4rem; /* prevent navbar from covering content */
  background-color: rgb(64, 80, 172);
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: rgb(19, 20, 100);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.navbar li {
  padding: 0 1.875rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  font-size: 1.25rem;
}

.navbar a {
  color: #498ec6;
  text-decoration: wavy;
  padding: 1rem;
  display: block;
  text-align: center;
}

.navbar a:hover {
  color: rgb(19, 20, 100);
  background-color: rgb(102, 102, 204);
}

/* Break */
.break {
  border: 0.125rem solid whitesmoke;
}

/* types of sizes */
h1 {
  margin: 0.625rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(2rem, 5vw, 3.75rem);
  color: whitesmoke;
  text-align: center;
  text-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.7);
}

h2 {
  margin: 0.625rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: rgb(17, 0, 94);
}

/* background image/overlaying text section */
.contact-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('images/matthew-mcbrayerblue.gif');
  position: relative;
  text-align: center;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(17, 0, 94);
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(1.5rem, 6vw, 4rem);
  background-color: rgba(255, 255, 255, 0.63);
  padding: 4rem;
  border-radius: 0.625rem;
}

/* Images */
.image {
  display: block;
  margin: 1rem auto;
  max-width: 90%;
  height: auto;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}

.side-images {
  width: 10rem;
  height: auto;
}

.border {
  border: 0.5rem solid rgb(17, 0, 94);
  margin: 1.25rem;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {

  body {
    padding-top: 2.5rem;
  }

  .overlay-text {
    font-size: 2rem;
    padding: 2rem;
  }

  .image-row {
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .side-images {
    width: 10%;
  }

  .image {
    max-width: 80%;
  }
  
  .navbar ul {
    padding: 0.5rem;
    }
  
  .navbar li {
    padding: 0 0.5rem;
    font-size: 1rem;
    }
  
  .navbar a {
    padding: 0.5rem;
    }

}
