@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (max-width: 50rem) {
  .contact-inputs {
    width: 80vw;
  }
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0rem;
  background-color: rgb(64, 80, 172);
}

.navbar {
  width: 100%; 
  background-color: rgb(19, 20, 100);
  position: fixed;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 1rem;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.navbar li {
  display: block;
  padding: 0 1.875rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  font-size: 1.25rem;
}

.navbar a {
  color: #498ec6;
  text-decoration: wavy;
  padding: 1rem;
  display: block;
  text-align: center;
}

.navbar a:hover {
  color: rgb(19, 20, 100);
  background-color: rgb(102, 102, 204);
}

.break {
  border: 0.12rem solid whitesmoke;
}

h1 {
  margin: 0.625rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3.75rem;
  color: whitesmoke;
  text-align: center;
}

h2 {
  margin: 0.625rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  color: rgb(17, 0, 94);
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url('images/matthew-mcbrayerblueimage.jpg');
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(17, 0, 94);
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem;
  text-align: center;
  padding: 4rem;
  border-radius: 0.625rem;
}

.project-tile {
  position: relative;
  display: inline-block;
  background: #bde0fec2;
  color: #003049;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 2rem 4rem; /* 32px top/bottom, 64px left/right */
  border-radius: 3.125rem; /* 50px */
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* 4px 8px */
  transition: transform 0.2s;
  z-index: 0;
  font-size: 1.2rem;
  margin: 2rem;
}

.project-tile::before,
.project-tile::after {
  content: '';
  position: absolute;
  background: #bde0fe9f;
  border-radius: 50%;
  z-index: -1;
}

.project-tile::before {
  width: 5rem;  /* 80px */
  height: 5rem;
  top: -2.5rem; /* -40px */
  left: 10%;
}

.project-tile::after {
  width: 6.25rem;  /* 100px */
  height: 6.25rem;
  top: -3.125rem;  /* -50px */
  right: 10%;
}

.project-tile:hover {
  transform: scale(1.05);
}